# Ignore only large raw data
data/sentinel_downloads/
*.tif
*.zip
*.rar
*.7z

# Ignore temporary and cache files
__pycache__/
*.pyc
*.pyo
*.DS_Store

# Ignore system and notebook checkpoints
.ipynb_checkpoints/
*.log
